<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <extensions>
      <add assembly="NLog.Targets.Syslog" />
   </extensions>
   <targets>
      <target name="syslog" appname="abcWebRole" type="Syslog" syslogserver="logs.papertrailapp.com" port="50763" facility="Local7" />
      <target xsi:type="File"
              fileName="AbcWebRole.dbg"
              name="logfile" 
              layout="${longdate}|${level}|${message}|${exception:format=tostring}"
              archiveEvery = "Day"
              archiveNumbering = "Rolling"
              maxArchiveFiles = "168"
              keepFileOpen = "false"
              encoding = "iso-8859-2"
            />
   </targets>
   
   <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minLevel="Debug" appendTo="syslog"/>
   </rules>
</nlog>